//Set Style for RF De Wit Website
$black: #070707e6;
$grey: #808080;
$white: #FFFFFF;
$green: #007400;

//Use SASS for PAGES
@use "bulma/sass/utilities" with (
$family-primary: 'Mulish, sans-serif',
$background: $black,
$text: $white,
$text-weak: $grey,
);

//Stuff for later directory
//$button-static-color: $green,
//$button-active-color: $white,
//$button-text-color: $white,
//$button-text-hover-color: $green,
//$table-color: $grey,
//$table-cell-border-color: $white

//Import Font as Intended
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

